*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.wrapper{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

input,
select,
textarea{
    font-family: inherit;
}

ul,
ol,
li{
    list-style: none;
}