// Fonts

$font-family: "Museo Sans Cyrl", sans-serif;
$second-family: "SF Pro Text", sans-serif;

// Colors

$black-color: #000;
$white-color: #fff;
$main-color: #46c578;
$title-color: #303030;
$body-color: #73798c;
$captions-color: #a7aed2;
$divider-color :#f0f0f0;
$search-color : #f4f5fa;

// Sizes

$container-width: 1240px;
$container-padding: 20px;