:root {
  --text-color---title: #303030;
  --text-color---captions: #a7aed2;
  --text-color---body: #73798c;
  --main-color---green: #46c578;
  --main-color---red: #ff3d3d;
  --search-bar---background: #f4f5fa;
  --divider---light-gray: #dedbdbe2;
  --font-family: "Museo Sans Cyrl", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
}

.card-panel-text {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  color: #ababab;
}

.card-panel {
  width: 754px;
  height: 450px;
  padding: 24px 0;
}

.card-panel__box {
  width: 752px;
  height: 71px;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--divider---light-gray);

  &__icon {
    width: 78px;
    height: 62px;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color---title);
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: left;
    color: #ababab;
  }

  &__button {
    width: 127px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid var(--main-color---green);
  }

  &__delete {
    color: var(--text-color---title);
    width: 34px;
    height: 34px;
  }
}

.button-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
}

.card-panel {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 56px;
}

.card-main {
  display: flex;
  align-items: start;
  justify-content: start;
}

.card-login {
  padding: 20px;
  width: 380px;
  height: 474px;
  margin: 72px 72px 72px 90px;
  border-left: 1px solid #dedbdb45;

  &__buyurtma {
    border: 1.5px solid var(--main-color---green);
    border-radius: 10px;
    padding: 15px 33px;
    width: 340px;
    height: 58px;
    background: var(--main-color---green);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #fff;
  }

  &__promokod {
    border: 1.5px solid var(--main-color---green);
    border-radius: 10px;
    padding: 15px 33px;
    width: 340px;
    height: 58px;
    margin: 12px 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--main-color---green);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: var(--text-color---body);
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: var(--text-color---body);
  }

  &-title {
    display: flex;
    align-items: end;
    justify-content: center;
  }

  &__itogo {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    color: var(--text-color---title);
    padding: 24px 0;
  }

  &__txt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #ababab;
  }
}
